
@{
    ViewBag.Title = "HavaKart";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/41d0128d98/istanbul/"
   data-label_1="İSTANBUL" data-label_2="HAVA DURUMU" data-theme="original">İSTANBUL HAVA DURUMU</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) {
            js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
</script>

<br />
<br />

<a class="weatherwidget-io" href="https://forecast7.com/tr/40d7729d94/izmit/"
   data-label_1="İZMIT" data-label_2="HAVA DURUMU" data-theme="original">İZMIT HAVA DURUMU</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) {
            js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
</script>

<br />
<br />

<a class="weatherwidget-io" href="https://forecast7.com/tr/39d9332d86/ankara/"
   data-label_1="ANKARA" data-label_2="HAVA DURUMU" data-theme="original">ANKARA HAVA DURUMU</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) {
            js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
</script>

<br />
<br />

<a class="weatherwidget-io" href="https://forecast7.com/tr/39d9141d27/erzurum/"
   data-label_1="ERZURUM" data-label_2="HAVA DURUMU" data-theme="original">ERZURUM HAVA DURUMU</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) {
            js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
</script>