@using MvcKutuphane.Models.Entity
@model List<Tbl_Duyuru>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>DUYURULAR SAYFASI</h2>

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr style="background-color: #e67e22">
            <th>DUYURU NO</th>
            <th>KATEGORİ</th>
            <th>TARİH</th>
            <th>SİL</th>
            <th>İÇERİK</th>
        </tr>
    </thead>
    @foreach (var dyr in Model)
    {
        <tr>
            <td>@dyr.ID</td>
            <td>@dyr.KATEGORI</td>
            <td>@Convert.ToDateTime(dyr.ILANTARIH).ToString("dd/MM/yyyy")</td>

            @*Silme işlemini alert ile yapmak için*@
            <td>
                @Html.ActionLink("Sil", "DuyuruSil",
           new { id = dyr.ID },
           new
                    {
                        @class = "btn btn-danger",
           onclick = "return confirm('Silmek İstiyor musunuz?')"
                    })
            </td>
            <td><a href="/Duyuru/DuyuruDetay/@dyr.ID" class="btn btn-success" style="background-color:cadetblue">Detaylar</a></td>
        </tr>
    }

</table>
<a href="/Duyuru/DuyuruEkle/" class="btn btn-primary">Yeni Duyuru Ekle</a>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
        }
    });
</script>