@model MvcKutuphane.Models.Entity.Tbl_Personel

@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">

        @*@Html.LabelFor(k => k.AD)*@
        <label>PERSONEL ADI SOYADI</label>
        @Html.TextBoxFor(k => k.PERSONEL, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(k => k.ID)
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}

